<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.mapper.MyFriendsMapper">
    <select id="getAllFriendMsgByUserId" resultType="com.liu.VO.MyFriendVO" parameterType="java.lang.String">
        SELECT
            users.id  as id,
            username,
            face_image,
            nick_name,
            qrcode
        FROM
            my_friends
                LEFT JOIN users ON my_friends.my_friend_user_id = users.id
        WHERE
            my_friends.my_user_id = #{userId}
    </select>
</mapper>